<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Teste Dev Junior
    </h1>

    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/cadastrar">Cadastro</a></li>
        <li><a routerLink="/listar">Gerenciar Pessoas</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>
</html>